<!DOCTYPE html>
<html>
<body>

<h1>Please Select any one from below:</h1>

<form action="/action_page.php">
  
  <input type="radio" id="html" name="fav_language" value="Busy with bending tickets">
  <label for="html">Busy with bending tickets</label><br>
  <input type="radio" id="css" name="fav_language" value="Completed and Available">
  <label for="css">Completed and Available</label><br>
  <input type="radio" id="javascript" name="fav_language" value="Completed but not Available">
  <label for="javascript">Completed but not Available</label>
 
</form>
 <script>
function myFunction() {
  alert("Do you want to submit it !");
}
</script>
<button onclick="myFunction()">Submit</button> 

</body>
</html>